# NOTE: Only dependencies needed to use distronode_base.lib.testing.* should go here.
# Deps specific to django-distronode-base tests should go in requirements_dev.txt
cryptography
pytest
pytest-django
